
#todo {
  background-color: white;
}

#todo-title,
#add-div,
#clear-div,
li {
  /* padding-bottom: 6px;
 padding-top: 6px; */
  height: 25px;
  border-bottom: 1px solid rgb(238, 227, 227);
}

#todo-title {
  font-weight: bold;
}

#add-div {
  color: grey;
  cursor: pointer;
}

input {
  border: none;
}

input::placeholder {
  font-style: italic;
}

#clear-div {
  text-align: center;
  color: grey;
  background-color: rgb(204, 199, 199);
}

li {
  padding-left: 0;
}
